#float-label {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 10%;
  position: absolute;
  left: 8%;
  margin-bottom: 30px;
}
.email{
  top: 50%;
}

.password {
  top: 60%;
}

#float-label input {
  width: 100%;
  height: 56px;
  padding: 14px 12px 0px 24px;
  outline: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  border-radius: 8px;
}

#float-label label {
  font-size: 16px;
  padding: 0 12px 0 24px;
  color: #A49B9B;
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  transform: translate(0, 26px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

#float-label:focus-within label {
  transform: translate(6px, 12px) scale(0.75);
  
}
 
#float-label:focus-within input{
  border-color:  #2A0709;
  transition: 0.8s;
}

#float-label .Active {
  transform: translate(6px, 12px) scale(0.75);
}

#float-label:disabled {
  color: #A49B9B;
}

#txtHelperEmail{
  height: 10%;
  position: absolute;
  left: 2%;
  top: 80px;
  font-size: 12px;
  color: red;
}
#txtHelperSenha{
  height: 10%;
  position: absolute;
  left: 2%;
  top: 80px;
  font-size: 12px;
  color: red;
}

#eye{
  position: absolute;
  text-align: right;
  top: 20%;
  left: 95%;
  cursor: pointer;
}

#eyeUnview{
  position: absolute;
  text-align: right;
  top: 20%;
  left: 95%;
  cursor: pointer;
  display: none;
}